.button-container {
    width: 100%;
}

.playlist-button {
    margin-right: 0.4vw;
    margin-left: 0.4vw;
    opacity: 0.9;
}

body:not(.instant) .playlist-button {
    transition: opacity 100ms ease-in-out,
        background-color var(--color-transition),
        color var(--color-transition);
}

.light .playlist-button:not(.pre-active):not(.active) {
    background-color: var(--off-light-background);
    color: var(--off-light-text);
}

.light .pre-active:not(.active) {
    background-color: var(--pre-active-light-background);
    color: var(--pre-active-light-text);
}

.light .active {
    background-color: var(--active-light-background);
    color: var(--active-light-text);
}

.dark .playlist-button:not(.pre-active):not(.active) {
    background-color: var(--off-dark-background);
    color: var(--off-dark-text);
}

.dark .pre-active:not(.active) {
    background-color: var(--pre-active-dark-background);
    color: var(--pre-active-dark-text);
}

.dark .active {
    background-color: var(--active-dark-background);
    color: var(--active-dark-text);
}

.playlist-button:hover {
    opacity: 1;
}