.button-container {
    width: 100%;
}

.playlist-button {
    margin-right: 0.4vw;
    margin-left: 0.4vw;
    opacity: 0.9;

    font-family: 'JetbrainsMono';
}

.playlist-button:not(.pre-active):not(.button-primary) {
    background-color: inherit;
    color: inherit;
}

.skeleton-blue .pre-active:not(.button-primary) {
    background-color: var(--pre-active);
    color: var(--pre-active-text);
}

.soothing-orange .playlist-button:not(.pre-active):not(.button-primary) {
    background-color: var(--off-background);
    color: var(--off-text);
}

.soothing-orange .pre-active:not(.button-primary) {
    background-color: var(--pre-active);
    color: var(--pre-active-text);
}