#log-window {
    position: fixed;
    left: calc(var(--hidden-menu-padding-x) + 2vw);
    width: 16%;
}

#log-window p {
    opacity: 0;
    transition: opacity ease-in-out 500ms;
}

#settings-menu #category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#settings-menu .category {
    width: 14rem;
    padding: 0 0.5vw;
    margin-bottom: 0.5vh;
}

#settings-menu .category button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#settings-menu .category button p {
    width: calc(100% - 2rem);
    text-align: center;
    margin: 0;
}

#settings-menu .category button svg {
    margin: 0;
    padding-left: 0.6rem;
    width: 1.4rem;
    color: var(--text);
}

/* .category { */
/*     border: solid 1px; */
/*     padding: 0 2vw 2vh 2vw; */
/*     border-radius: 10px; */
/*     margin-bottom: 2vh; */
/*     border-color: var(--background-highlight); */
/* } */

/* #settings-menu h4 { */
/*     margin-bottom: 0; */
/* } */

/* #settings-menu form .row { */
/*     display: flex; */
/*     align-items: end; */
/* } */

/* .trash-button-container, */
/* .add-button-container > div { */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: end; */
/* } */

/* .add-button-container columns { */
/*     width: 100%; */
/* } */

/* .add-playlist-button-container { */
/*     display: flex; */
/*     flex-direction: row; */
/*     justify-content: end; */
/* } */

/* .add-category-button { */
/*     width: 100%; */
/* } */

/* .add-project-button { */
/*     width: 100%; */
/* } */

/* .add-project-button > svg { */
/*     width: 100%; */
/* } */

/* .trash-button-container { */
/*     margin-left: 0; */
/* } */

/* .trash-button, */
/* .add-button { */
/*     border: none; */
/* } */

/* .trash-button svg, */
/* .add-button svg { */
/*     height: 100%; */
/* } */

/* .trash-button path, */
/* .add-button path { */
/*     transition: color 100ms ease-in-out; */
/*     color: var(--text); */
/* } */

/* .trash-button:hover path { */
/*     color: red; */
/* } */

/* .add-button:hover path { */
/*     color: var(--primary) */
/* } */

/* .settings-button { */
/*     width: 100%; */
/* } */

/* .settings-button > button, */
/* .settings-button > input { */
/*     display: none; */
/* } */

/* #playlists-form .hidden-hr { */
/*     display: none; */
/*     width: 100%; */
/* } */

/* @media (max-width: 1300px) { */

/* 	.settings-button-container .columns { */
/* 		width: 100%; */
/* 		margin-left: 0; */
/* 	} */

/*     #playlists-form .row { */
/*         flex-direction: column-reverse; */
/*         align-items: flex-start !important; */
/*     } */

/*     #playlists-form .columns { */
/*         width: 100%; */
/*         margin-top: 2vh; */
/*         margin-left: 0; */
/*     } */

/*     #playlists-form input { */
/*         width: 100%; */
/*     } */

/*     .trash-button-container, */
/*     .add-container { */
/*         align-items: center; */
/*     } */

/*     .add-container { */
/*         width: 100% !important; */
/*     } */

/*     .add-container > div { */
/*         align-items: center; */
/*     } */

/*     .add-container > .two { */
/*         width: 100% !important; */
/*     } */

/*     .add-container > .ten { */
/*         width: 0 !important; */
/*         margin-left: 0; */
/*     } */
/*     .add-button { */
/*         width: 100% !important; */
/*     } */

/*     #playlists-form .hidden-hr { */
/*         display: block; */
/*     } */

/* } */
