#log-window {
    position: fixed;
    left: calc(var(--hidden-menu-padding-x) + 2vw);
    width: 16%;
}

#log-window p {
    opacity: 0;
    transition: opacity ease-in-out 500ms;
}

body:not(.instant) .exit-button path {
    transition: fill var(--color-transition);
}

.light .exit-button path {
    fill: var(--text-light)
}

.dark .exit-button path {
    fill: var(--text-dark)
}

#settings-menu form .row {
    display: flex;
    align-items: end;
}

.trash-button-container,
.add-button-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.trash-button,
#add-button {
    border: none;
}

.trash-button svg,
#add-button svg {
    height: 100%;
}

.light .trash-button path,
.light #add-button path {
    color: var(--text-light);
}

.dark .trash-button path,
.dark #add-button path {
    color: var(--text-dark);
}

.trash-button path,
#add-button path {
    transition: color 100ms ease-in-out;
}

.trash-button:hover path {
    color: red;
}

.light #add-button:hover path {
    color: var(--light-primary)
}

.dark #add-button:hover path {
    color: var(--dark-primary)
}

.settings-button {
    width: 100%;
}

.settings-button > button,
.settings-button > input {
    display: none;
}
