:root {
    --color-transition: 400ms ease-in-out;
}

.skeleton-blue {
    --pre-active: #a5d6e6;
    --pre-active-text: #000000;
}

.soothing-orange {
    --pre-active: #f1c889;
    --pre-active-text: #666666;
}

body:not(.instant),
body:not(.instant) * {
    transition: background-color var(--color-transition),
        color var(--color-transition),
        border-color var(--color-transition);
}

body {
    min-height: 95vh;
}

.center {
    text-align: center;
}

.button {
    font-family: 'JetbrainsMono';
}

#player {
    transition: opacity 500ms ease-in-out;
}

#playercontainer {
    background-color: black;
    height: 20vh;
}

.flexbox-spread {
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
}

.header {
    height: 10vh;
}

.content-container {
    position: absolute;
    top: 10vh;
    /* Header Height */
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    height: 10vh;
    width: calc(100% - 5px);
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer p {
    margin-bottom: 4px;
}

.footer p a {
    margin-bottom: 0;
}

.right-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.right-menu > * {
    margin: 0;
    margin-right: 5px;
}

.right-menu > form > label {
    margin: 0;
}

.right-menu>*:first-child {
    margin-right: 0;
}

.vertical-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5px;
}

.vertical-flex-center:last-child {
    padding-right: 0;
}

.vertical-flex-center button {
    margin: 0;
    height: 34px;
}

.lefthand-title {
    display: block;
}

.center-title {
    display: none;
}

@media (max-width: 670px) {
    .lefthand-title {
        display: none;
    }

    .center-title {
        display: block;
    }

    .right-menu {
        width: 100%;
    }
}