:root {
    --text-light: #000000;
    --background-light: #FFFFFF;
    --active-light-background: #33C3F0;
    --pre-active-light-background: #a6ceda6b;
    --off-light-background: rgba(231, 231, 231, 0.288);
    --active-light-text: #FFFFFF;
    --pre-active-light-text: #555;
    --off-light-text: #555;

    --text-dark: #FFFFFF;
    --background-dark: #2B2B2B;
    --active-dark-background: #f3b252;
    --pre-active-dark-background: #f1c889;
    --off-dark-background: #353535;
    --active-dark-text: rgb(41, 41, 41);
    --pre-active-dark-text: rgb(102, 102, 102);
    --off-dark-text: rgb(139, 139, 139);
}

* {
    transition: background-color 400ms ease-in-out,
        color 400ms ease-in-out;
}

body {
    min-height: 95vh;
}

.light {
    background-color: var(--background-light);
}

.dark {
    background-color: var(--background-dark);
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light p,
.light a {
    color: var(--text-light);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark p,
.dark a {
    color: var(--text-dark);
}

.center {
    text-align: center;
}

#player {
    transition: opacity 500ms ease-in-out;
}

#playercontainer {
    background-color: black;
    height: 20vh;
}

.button-container {
    width: 100%;
}

.playlist-button {
    margin-right: 0.4vw;
    margin-left: 0.4vw;
    opacity: 0.9;
    transition: opacity 100ms ease-in-out,
        background-color 400ms ease-in-out,
        color 400ms ease-in-out;
}

.light .playlist-button:not(.pre-active):not(.active) {
    background-color: var(--off-light-background);
    color: var(--off-light-text);
}

.light .pre-active:not(.active) {
    background-color: var(--pre-active-light-background);
    color: var(--pre-active-light-text);
}

.light .active {
    background-color: var(--active-light-background);
    color: var(--active-light-text);
}

.dark .playlist-button:not(.pre-active):not(.active) {
    background-color: var(--off-dark-background);
    color: var(--off-dark-text);
}

.dark .pre-active:not(.active) {
    background-color: var(--pre-active-dark-background);
    color: var(--pre-active-dark-text);
}

.dark .active {
    background-color: var(--active-dark-background);
    color: var(--active-dark-text);
}

.playlist-button:hover {
    opacity: 1;
}

.flexbox-spread {
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
}

.header {
    height: 10vh;
}

.content-container {
    position: absolute;
    top: 10vh; /* Header Height */
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    height: 10vh;
    width: calc(100% - 5px);
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer p {
    margin-bottom: 4px;
}

.footer p a {
    margin-bottom: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--active-light-background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--active-dark-background);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--active-dark-background);

}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.right-menu {
    display: flex;
    align-items: center;
}

.right-menu > * {
    margin: 0;
    margin-right: 5px;
}

.right-menu > *:last-child {
    margin-right: 0;
}

.vertical-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5px;
}

.vertical-flex-center:last-child {
    padding-right: 0;
}

.vertical-flex-center button {
    margin: 0;
    height: 34px;
}
